{% extends "_base.html" %}
{% load static %}

{% block title %}{% endblock %}

{% block content %}
<style>
	body {
		font-family: 'Arial', sans-serif;
		background-color: #f4f4f4;
		margin: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 90px;
		/* ปรับค่าเพื่อดันเนื้อหาลงไปมากกว่าเดิม */
		font-family: Tahoma, Geneva, sans-serif;
	}

	.container {
		background-color: #f9f9f9;
		/* Light background for the container */
		padding: 20px;
		border-radius: 8px;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	}

	.form-group label {
		font-weight: bold;
		/* Make label text bold */
	}

	.btn {
		background-color: #007bff;
		/* Bootstrap primary color */
		color: white;
		/* White text */
	}

	.comment-box {
		border: 1px solid #ddd;
		padding: 15px;
		margin-top: 10px;
		border-radius: 5px;
		background-color: #fff;
		/* White background for comment boxes */
	}

	.comment-box p {
		margin: 0;
		/* Remove default margin */
	}

	h3 {
		color: #333;
		/* Darker color for the comments title */
		margin-bottom: 15px;
		/* Spacing below the title */
	}
</style>

<body>

    <!-- Content Section -->
    <div class="row"
        style="display: flex; justify-content: center; align-items: flex-start; max-width: 1200px; margin: 0 auto;">
        <div class="col-sm-8"> <!-- ช่องหลักด้านซ้าย (เนื้อหาหลัก) -->
            <div class="main-content" style="display: flex; justify-content: flex-start;">
                <div style="width: 100%;">
                    <img src="/static/images/kam/kam1.jpg" alt="Mizuki Omakase Dish">
                    <h2 class="editor-review">รีวิว Kam's Roast ร้านอาหารสไตล์ฮ่องกง พร้อมเสิร์ฟเมนูห่านย่าง-เป็ดย่างสูตรต้นตำรับฮ่องกงแท้</h2>
                    <p dir="ltr">
                        <span style="font-family:tahoma,geneva,sans-serif">
                            <span style="font-size:14px">
                                <span style="background-color:transparent">
                                    </span>
                            </span>
                        </span>
                        <span style="font-family:tahoma,geneva,sans-serif; font-size:14px">
                            สำหรับใครที่เป็นทั้งสายกิน-สายเที่ยว คงจะพอเคยได้ชื่อเสียงในด้านความอร่อยของอาหารฮ่องกงมาไม่มากก็น้อย และอาจจะเคยได้ยินชื่อร้าน 'Kam's Roast' ร้านอาหารยอดนิยมของฮ่องกง ที่ขึ้นเรื่องความอร่อยและคิวยาวๆ ที่หน้าร้านแทบทุกวัน! เพราะร้านนี้เป็นร้านอาหารที่สืบทอดความอร่อยใน 'เมนูย่างสไตล์ฮ่องกง' จากร้าน 'Yung Kee' ร้านอาหารในตำนานของฮ่องกง ซึ่งแต่ละเมนูก็ทำออกมาได้โดดเด่นจนสามารถคว้า 1 ดาวจากมิชลินที่ฮ่องกงต่อเนื่องถึง 10 ปีซ้อน (2015 - 2024) จนได้รับฉายาว่า เป็น 'The Master of Cantonese Roast' อีกด้วย</span>
                    </p>


                    <div style="text-align: center;">
                        <img src="/static/images/kam/kammap.png" alt="Mizuki Omakase Dish">
                        <p>
                        </p>
                        
                        <p style="text-align:left;">
                            <span style="font-family:tahoma,geneva,sans-serif"><strong><span
                                        style="font-size:25px">การเดินทาง</span></strong></span>
                        </p>
                        <p style="text-align:left;">
                            <span style="font-family:tahoma,geneva,sans-serif">
                                <span style="font-size:14px">
                                    สำหรับร้าน Kam's Roast ที่ไปในครั้งนี้จะเป็น ร้าน Kam's Roast สาขาเมกา บางนา โดยร้านจะตั้งอยู่ที่โซน Foodwalk ชั้น 1 มีจุดสังเกตคืออยู่ติดร้านทองสมิทธิ์ การเดินทางด้วยรถสาธารณะ สามารถเดินทางด้วยรถไฟฟ้า BTS ลงสถานีอุดมสุข (ทางออก 5) และสามารถนั่ง Shuttle Bus ของเมกา บางนามาลงที่หน้าห้างเลยได้ค่ะ ส่วนการเดินทางด้วยรถยนต์ส่วนตัว ก็สามารถมาได้ด้วยทางคู่ขนาน-บางนาตราด และสามารถนำรถมาจอดได้ฟรีที่ลานจอดรถของเมกา บางนา จอดฟรี 6 ชั่วโมงแรกค่ะ (ต้องมีตราปั๊มห้าง)
                                </span>
                            </span>
                        </p>
                        <p style="text-align:left;">
                            <img src="/static/images/kam/kam2.jpg" style="height:414px; width:620px" />
                        </p>
                        
                        <span style="background-color:transparent">บรรยากาศร้าน</span>
                        <p style="text-align:left;">
                            <span style="font-family:tahoma,geneva,sans-serif">
                                <span style="font-size:14px">
                                    <span style="background-color:transparent">
                                         สำหรับสาขาเมกา บางนา ตัวร้านจะมีการตกแต่งให้มีบรรยากาศร้านภัตตาคารจีนแบบโมเดิร์น เน้นโทนสีน้ำตาล-แดง มีความเรียบหรู และยังเป็นห้องกระจกทำให้ร้านดูมีความปลอดโปร่ง ไม่แออัด</span>
                                </span>
                            </span>
                        </p>
                        <p style="text-align:left;">
                            <img src="/static/images/kam/kam3.jpg"
                                style="height: 414px; width: 620px; max-width: 620px;">
                        </p>
                        <p style="text-align:left;">
                            <img src="/static/images/kam/kam4.jpg"
                                style="height: 414px; width: 620px; max-width: 620px;">
                        </p>
                        <p style="text-align:left;">
                            <span style="font-family:tahoma,geneva,sans-serif">
                                <span style="font-size:14px">
                                    <span style="background-color:transparent">
                                        อีกทั้งภายในร้านยังมีพื้นที่ร้านกว้างขวาง มีโซนที่นั่งให้เลือกเยอะ มีทั้งโต๊ะเล็ก-โต๊ะใหญ่ให้ลูกค้าได้เลือกนั่งตามสะดวก ตอบโจทย์ทั้งลูกค้าที่มากลุ่มเล็ก และมากันเป็นครอบครัวใหญ่</span>
                                </span>
                            </span>
                        </p>
                        <p style="text-align:left;">
                            <img src="/static/images/kam/kam5.jpg">
                        </p>
                        <p style="text-align:left;">
                        </p>
                        
                        <p style="text-align:left;">
                            <span style="font-family:tahoma,geneva,sans-serif">
                                <span style="font-size:14px">
                                    <span
                                        style="background-color:transparent">  ถึงแม้จะไม่ใช่สาขาต้นตำรับ แต่ก็ต้องบอกว่าร้าน Kam's Roast สาขาไทยนั้นได้ยกเมนูย่างมาครบแบบสาขาที่ฮ่องกงเป๊ะๆ ซึ่งทางร้านก็ไม่ได้ยกมาแค่หน้าตาหรือชื่อเมนู แต่ยกมาทั้งสูตรอาหารและวัตถุดิบเพื่อให้ได้มาตรฐานเดียวกับสาขาที่ฮ่องกงแบบไม่มีผิดเพี้ยน แบบไม่ให้เสียชื่อ 'The Master of Cantonese Roast หรือปรมาจารย์แห่งการย่างสไตล์กวางตุ้ง' แน่นอน<strong>
                                            '</strong>
                                    </span>
                                    <strong><span style="background-color:transparent">สำหรับเมนูอาหารของทางร้านจะเน้นเป็นเมนูย่างสไตล์ฮ่องกง ที่มีกรรมวิธีการย่างที่เฉพาะของทางร้านเอง เพราะทางร้านได้มีการออกแบบเตาให้เหมาะกับแต่ละเมนู นอกจากนี้ยังมีทั้งสูตรหมักวัตถุดิบ สูตรซอสราด และสูตรน้ำจิ้ม ที่เป็นสูตรลับเฉพาะของทางร้านที่ทำให้เมนูย่างของที่นี่โดดเด่นไม่เหมือนใคร โดยจะมีเมนูซิกเนเจอร์ คือ ห่านย่างและเป็ดย่าง ที่ต้องขอบอกก่อนเลยว่าไม่ได้หาทานกันได้ง่ายๆ</span></strong>
                                   
                        <p style="text-align:left;">
                            <img src="/static/images/kam/kam6.jpg"
                                style="height: 500px; width: 620px; max-width: 620px;">
                        </p>

                        {% if user.is_authenticated %}
						<!-- Comment Section -->
						<div class="container mx-auto mt-8 ml-2"> <!-- เพิ่ม ml-4 เพื่อขยับไปทางซ้าย -->
							<form action="/submit_comment" method="POST" class="max-w-xl space-y-4">
								{% csrf_token %}

								<!-- Hidden input for food data -->
								<input type="hidden" name="food_id" value="restaurant10">

								<div class="form-group">
									<label for="comment"
										class="block text-gray-700 font-medium mb-2">ความคิดเห็น:</label>
									<textarea class="form-control w-full border border-gray-300 rounded-md p-3"
										id="comment" name="comment" rows="5" required></textarea>
								</div>

								<button type="submit"
									class="w-full py-2 px-4 bg-gradient-to-r from-orange-500 to-yellow-400 text-white rounded-md font-semibold shadow-md hover:from-orange-600 hover:to-yellow-500 transition duration-300">
									ส่งความคิดเห็น
								</button>
							</form>
						</div>
						{% endif %}

						<!-- ส่วนของการแสดงผลคอมเมนต์ -->
						<!-- ส่วนของการแสดงผลคอมเมนต์ -->
						<div class="max-w-2xl mx-auto p-4 space-y-2 ml-0">
							{% for c in comment %}
							<div
								class="bg-white shadow-sm rounded-md p-2 border border-gray-200 flex items-start justify-between space-x-2">
								<div class="flex items-center space-x-2 flex-wrap">
									<h2
										class="text-sm font-medium text-white bg-gradient-to-r from-orange-500 to-yellow-400 px-2 py-1 rounded-md">
										{{ c.user.username }}:
									</h2>
									<p class="text-sm text-gray-600 break-words">{{ c.content }}</p>
								</div>
								<div class="flex space-x-2 ml-auto">
									<a href="{% url 'delete_comment' c.id %}"
										class="text-sm font-medium text-white bg-gradient-to-r from-orange-500 to-yellow-400 px-2 py-1 rounded-md">ลบ</a>
								</div>
							</div>
							{% endfor %}
						</div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4"
            style="border: 2px solid #ccc; border-radius: 8px; padding: 15px; background-color: #f9f9f9;">
            <!-- ช่องขวามือสำหรับแผนที่ -->
            <div class="map-section">
                <div id="map_rest" class="thumbnail thumbnail-noborder">
                    <h5>แผนที่ร้าน <a
                            href="https://www.google.com/search?q=Kam%27s+Roast&rlz=1C1CHZN_enTH1112TH1112&oq=Kam%27s+Roast&gs_lcrp=EgZjaHJvbWUyCQgAEEUYORiABDIHCAEQABiABDIHCAIQABiABDIHCAMQABiABDINCAQQLhivARjHARiABDIHCAUQABiABDINCAYQLhivARjHARiABDIGCAcQRRg80gEHNjcyajBqN6gCALACAA&sourceid=chrome&ie=UTF-8"
                            target="_blank">Kam's Roast</a></h5>
                    <div>
                        <a href="https://www.google.com/maps/dir//13.6455401,100.680734/@13.6454778,100.6808092,21z?entry=ttu"
                            target="_blank" title="Click go to Google Map">
                            <img src="/static/images/kam/kammap.png" alt="Google Map" class="img-responsive">
                        </a>
                    </div>
                </div>

                <div class="thumbnail thumbnail-noradius" id="col_address_rest">
                    <div class="caption">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-xs-5">ที่อยู่ :</div>
                                <div class="col-xs-7 pl">
                                    ถ. ราชพฤกษ์ ตำบล บางกร่าง อำเภอเมืองนนทบุรี นนทบุรี 11000 ประเทศไทย ต. บางกร่าง อ. เมืองนนทบุรี จ. นนทบุรี ประเทศ Thailand
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-5">เบอร์ติดต่อ :</div>
                                <div class="col-xs-7 pl">โทร. 092 251 7333</div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-5">ช่วงเวลา :</div>
                                <div class="col-xs-7 pl">DULCE Casa de Pan เปิดบริการทุกวัน 07:00 - 18:00 น.
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-5">ช่วงราคา :</div>
                                <div class="col-xs-7 pl">0.00 - 0.00 บาท</div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-5">ที่จอดรถ :</div>
                                <div class="col-xs-7 pl">ไม่ระบุ</div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-5">รับบัตรเครดิต :</div>
                                <div class="col-xs-7 pl">ไม่ระบุ</div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-5 pr">รับจองล่วงหน้า :</div>
                                <div class="col-xs-7 pl">ไม่ระบุ</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</body>

</html>

{% endblock %}